
.section {
    overflow: hidden;
  }
  
  .title {
    text-align: center;
    margin-bottom: 24px;
    color: #000 !important; 
  }
  
 .bus-card{
  box-shadow: 0 0 10px #818181;
 }

 .bus-routes{
  font-weight: 600;
  font-size: 17px;
 }

 .bus-card p{
  margin: 0;
 }

 .ant-card-body{
  padding: 10px 20px !important;
 }